// Icons

[data-icon]:before
  font-family: $icon-font
  content: attr(data-icon)
  font-style: normal
  font-weight: normal !important
  line-height: 1
  speak: none
  vertical-align: text-top
  -webkit-font-smoothing: antialiased

[data-icon].icon-dimmed:before
  opacity: .25