trix-toolbar
  margin-bottom: 6px

  .button-group
    margin-right: 10px

  .button.active
    background: $primary-color
    color: #fff

  .link_url_fields input
    margin-top: 6px

  .link_url_fields .button-group input
    margin-top: 10px

trix-editor
  line-height: 18px
  font-weight: normal
  min-height: 100px

  p
    margin: 0

  ul
    list-style: disc
    padding-left: 20px

  figure.attachment
    margin-bottom: 12px
    max-width: 200px
    overflow: hidden

    .remove
      display: none

    img
      border-radius: 3px
      width: 100%
