// Sortable lists

.sortable-list-container
  margin: 0 -40px

  ol.sortable
    margin: 20px 0
    padding: 0
    list-style: none

    li
      border-bottom: 1px solid #ddd
      padding: 10px 40px

    li .button
      margin-bottom: 0