// Sortable lists

.sortable-list-container
  margin: 0 -40px

  ol.sortable
    margin: 20px 0
    padding: 0
    list-style: none

    ol
      list-style: none
      padding: 0      

    li.ui-sortable-helper
      border: none

    li div
      border-bottom: 1px solid #ddd
      cursor: move
      padding: 10px 40px
      width: 100%

    > li:last-child div
      border: none

    li .button
      margin-bottom: 0

    li a.sortable-link
      color: $primary-color
      font-size: 13px
      font-weight: 500
      padding-left: 0

      small
        font-size: 13px
        font-weight: 400
        margin-left: 13px

    li ol div, li ol .placeholder
      background: #f9f9f9

    li ol li ol div, li ol li ol .placeholder
      background: #f1f1f1

    ol li
      padding-right: 0

    ol li div
      padding-left: 72px

    ol li ol li div
      padding-left: 104px

  .placeholder
    background: #f9f9f9
    border: none
